{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron txt-center">
        <h1 style="text-align: center">Bienvenue sur Agora Réflexions et Idées Citoyennes</h1>
        <p style="text-align: center"> Ce site est centré sur des idées et des réflexions citoyennes, pour permettre une évolution pereine et sereine de chaque individu. Tous les domaines peuvent être source d'idées et de réflexions, tant que cela est abordé avec respect et ethique. Le respect des uns et des autres est primordiale. Partager vos idées et réflexions, vous pouvez ensuite en débattre dans le forum.   </p>
    </div>
{% endblock %}